body{
    background-color: rgb(231, 204, 170);
    padding-left: 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los divs */
    padding: 20px;
    
  }


  .box {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 30%; /* Tres columnas en pantallas grandes */
    min-width: 200px; /* Ancho mínimo para cada div */
    transition: transform 0.3s ease;
  }

  .box:hover{
    transform: translateY(-2px) scale(1.02);
}
  
  /* Ajuste para pantallas medianas */
  @media (max-width: 768px) {
    .box {
      flex: 1 1 45%; /* Dos columnas en pantallas medianas */
    }
  }
  
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 480px) {
    .box {
      flex: 1 1 100%; /* Una columna en pantallas pequeñas */
    }
  }
  

.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    letter-spacing: 2px;
}

.foto{
    width: 400px;
    height: 400px; 
    object-fit: cover; 
}



.texto {
    padding-left: 12%;
    width: 400px; 
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

.texto:hover{
    transform: translateY(-2px) scale(1.04);
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.izquierda {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
}

.centro {
    text-align: center;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
}

.derecha {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
    padding-right:7% ;
}
